{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Total Devices: {{total_devices}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Cisco Devices: {{cisco_devices}}</h3>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Juniper Devices: {{juniper_devices}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Arista Devices: {{arista_devices}}</h3>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Target Device</th>
                                        <th>Action</th>
                                        <th>Status</th>
                                        <th>Timestamp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for log in last_event %}
                                        <tr>
                                            <td>{{ log.target }}</td>
                                            <td>{{ log.action }}</td>
                                            <td>{{ log.status }}</td>
                                            <td>{{ log.timestamp }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody> 
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}