{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center mb-4">Log</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">Target Device</th>
                        <th scope="col" class="text-center">Action</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Time</th>
                        <th scope="col" class="text-center">Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                        <tr>
                            <td class="text-center">{{ log.target }}</td>
                            <td class="text-center">{{ log.action }}</td>
                            <td class="text-center">
                                {% if log.status == 'Success' %}
                                    <span class="badge badge-success">{{ log.status }}</span>
                                {% elif log.status == 'Failed' %}
                                    <span class="badge badge-danger">{{ log.status }}</span>
                                {% else %}
                                    <span class="badge badge-secondary">{{ log.status }}</span>
                                {% endif %}
                            </td>
                            <td class="text-center">{{ log.timestamp }}</td>
                            <td class="text-center">{{ log.message }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}